---
import GlobalLayout from './GlobalLayout.astro'

interface Props {
  frontmatter: {
    title: string
    description: string
    author: string
    pubDate: string
    tags: string[]
    image: {
      url: string
      alt: string
    }
  }
}

const { frontmatter } = Astro.props
---

<GlobalLayout title={frontmatter.title}>
  <div>
    <p>Published on {frontmatter.pubDate}</p>
    <p>Written by {frontmatter.author}</p>
  </div>
  <div class='image-container'>
    <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
  </div>
  <p>
    <em>
      {frontmatter.description}
    </em>
  </p>
  <ul>
    {frontmatter.tags.map(tag => <li>{tag}</li>)}
  </ul>
  <slot />
</GlobalLayout>

<style>
  .image-container img {
    max-width: 100%;
    background-color: black;
  }
</style>
